<div id="<%= dom_id comment %>">
  <p>
    <span class="text-left h3">User name here</span>
    <span class="text-align-right"><%= time_tag comment.created_at %></span>
  </p>

  <div style="">
    <%= comment.content %>
  </div>
</div>
